<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   {% block title %}
   <title>To-Do App</title>
   {% endblock title %}
   <!-- Bootstrap CSS -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

{% with request.COOKIES.theme|default:"light" as theme %}
<body class={% if theme == 'dark' %}bg-dark text-white{% else %}bg-light text-dark{% endif %} >{% endwith%}
{% if request.user.is_authenticated %}
<nav class="navbar navbar-dark bg-dark shadow-sm">
  <div class="container-fluid">

    <!-- App Name -->
    <a class="navbar-brand fw-bold">
      To-Do App
    </a>

    <!-- Right Side -->
    <div class="d-flex align-items-center">

      <!-- Profile -->
      <a href="{% url 'profile' %}" class="me-2">
        <img src="{{ user.profile.image.url }}" alt="Profile" class="rounded-circle" width="40" height="40">
      </a>
      <a href="{% url 'dashboard' %}" class="btn btn-outline-light me-2">Dashboard</a>
      <div class="d-flex align-items-center gap-2">
      <a href="{% url 'set_theme' 'light' %}" class="btn btn-sm btn-outline-secondary " >
        ☀️
      </a>
      <a href="{% url 'set_theme' 'dark' %}" class="btn btn-sm btn-outline-secondary me-2">
        🌙
      </a>
</div>



      <!-- Logout -->
      <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">
          Logout
        </button>
      </form>

    </div>
  </div>
</nav>
{% endif %}

   {% block content %} {% endblock content %}
   <!-- Bootstrap JS -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
